
body {
    color: #40514E;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1 {
    font-size: 5.62rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

p {
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-style: dotted none none;
    border-color: #8fa6a6;
    border-width: 8px;
    width: 5%;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 20px 0;
}

.bottom-container {
    width: 100%;
    background-color: #66BFBF;
    padding: 50px 0 20px;
}


.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}


.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.skills {
    width: 80%;
    position: relative;
    margin: 80px auto 40px auto;
}

.skill-row {
    width: 60%;
    position: relative;
    margin: 20px auto 20px auto;
    text-align: left;
}

.intro {
    width: 40%;
    margin: auto;
}

.android-img {
    width: 25%;
    float: left;
    padding-right: 30px;
}

.flutter-img {
    width: 25%;
    float: right;
    padding-left: 30px;
}

.java-img {
    width: 25%;
    float: left;
    padding-right: 30px;
}

.kotlin-img {
    width: 25%;
    float: right;
    padding-left: 30px;
}

.footer-link {
    margin: auto 1.5rem 8rem auto;
}

.footer-copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
}

.contact-me {
    margin: 40px auto 40px auto;
}

.contact-link {
    color: white;
}

.skill-container{
    width: 50%;
    margin: 0 auto;
    text-align: start;
  }

@keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }
  
  .bar{
    background-color: #EEE;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  .bar::before{
    content:  attr(data-skill);
    background-color: #f3b0ff;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  }
  
  .bar.front::before{
    background-color: #ffcc33;
  }
  .bar.back::before{
    background-color: #a6cfe3;
  }
  
  .bar.learning::before{
    width: calc(20% - 10px);
  }
  .bar.basic::before{
    width: calc(40% - 10px);
  }
  .bar.intermediate::before{
    width: calc(60% - 10px);
  }
  .bar.advanced::before{
    width: calc(80% - 10px);
  }
  .bar.expert::before{
    width: calc(100% - 10px);
  }